@use "./layout/breakpoints";

.match__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  background-color: white;
  border-radius: 10px;
  margin-bottom: 10px;
  margin-right: 25px;
  width: 94%;
  flex-shrink: 0;
  overflow: hidden;

  @include breakpoints.medium {
    width: 333px;
  }
}

.match__result {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 52%;
  padding-left: 5px;
}

.match__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.match__team {
  width: 80%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.match__row img {
  border: 1px solid black;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  margin: 10px 8px 10px 5px;

  @include breakpoints.medium {
    height: 22px;
    width: 22px;
  }
}

.match__date {
  width: 49%;
  border-left: 1px solid dimgray;
  padding: 5px 15px;
  background-color: aliceblue;

  @include breakpoints.medium {
    width: 45%;
  }
}
