@use "./layout/breakpoints";

.rounds__main {
  display: flex;
  width: 100%;
  margin: 5vh 0 -1px 0;
  border-bottom: 1px solid dimgray;
  justify-content: space-around;
  align-items: flex-end;
  flex-direction: row;
  gap: 10px;

  @include breakpoints.medium {
    width: 80%;
    margin: 5vh 0 -1px 10%;
    gap: 20px;
  }
}

.rounds__wrapper {
  position: relative;
  border: 1px solid black;
  border-right-width: 0;
  background-color: dimgray;
  height: 222px;
  margin-bottom: 25px;
  border-radius: 0;
  overflow: hidden;
  width: 100%;

  @include breakpoints.medium {
    border-radius: 10px 0 0 10px;
  }
}

.rounds__container {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  overflow: auto;
  margin: 35px 0;
  padding: 0 25px;
  &::-webkit-scrollbar {
    display: none;
  }
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.rounds__scroller {
  position: absolute;
  bottom: 0;
  height: 25%;
  width: 15%;
  font-size: 75px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.rounds__scroller-right {
  @extend .rounds__scroller;
  right: 0;
  border-radius: 5px 0 0 0;
}

.rounds__scroller-right::before {
  content: ">";
}

.rounds__scroller-left {
  @extend .rounds__scroller;
  left: 0;
  border-radius: 0 5px 0 0;
}

.rounds__scroller-left::before {
  content: "<";
}

.tabs {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  border-radius: 5px 5px 0 0;
  border: 1px solid black;
  border-bottom-width: 0;
  height: 25px;
  width: 20px;
  font-weight: bold;
  cursor: pointer;

  @include breakpoints.medium {
    width: 40px;
  }
}

.rounds__current {
  @extend .tabs;
  background-color: white;
  color: black;
}

.rounds__tabs {
  @extend .tabs;
  background-color: dimgray;
  color: white;
}
