.rounds__main {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  padding: 10px 0;
}

.rounds__wrapper {
  position: relative;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  background-color: dimgray;
  height: 222px;
  margin-bottom: 25px;
}

.rounds__container {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  overflow: hidden;
  margin: 35px 0;
  padding: 0 25px;
}

.rounds__scroller {
  position: absolute;
  bottom: 0;
  height: 25%;
  width: 15%;
  font-size: 75px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.rounds__scroller-right {
  @extend .rounds__scroller;
  right: 0;
  border-radius: 5px 0 0 0;
}

.rounds__scroller-right::before {
  content: ">";
}

.rounds__scroller-left {
  @extend .rounds__scroller;
  left: 0;
  border-radius: 0 5px 0 0;
}

.rounds__scroller-left::before {
  content: "<";
}

.tabs {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid black;
  height: 25px;
  width: 25px;
  cursor: pointer;
}

.rounds__current {
  @extend .tabs;
  background-color: white;
  color: black;
  height: 30px;
  width: 30px;
}

.rounds__tabs {
  @extend .tabs;
  background-color: black;
  color: white;
}
