@use "./breakpoints";

nav {
  grid-column: 1 / -1;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 20px;
  align-items: center;
  padding: 4vh;
  background-color: dimgray;
  position: fixed;
  z-index: 100;
  border-bottom: 1px solid #000;
  top: 0;
  width: 100%;

  @include breakpoints.medium {
    grid-column: 1 / 2;
    flex-direction: column;
    background-color: transparent;
    position: unset;
    gap: 40px;
    border-bottom: 0;
    padding: 4vh 0;
  }
}

%basicIcon {
  border: 1px solid black;
  border-radius: 50%;
  background-color: white;
  padding: 5px;
  height: 25px;
  width: 25px;

  @include breakpoints.medium {
    padding: 10px;
  }
}

.nav__link-logo img {
  @extend %basicIcon;

  @include breakpoints.medium {
    height: 50px;
    width: 50px;
  }
}

.nav__link-logoActive img {
  @extend %basicIcon;
  background-color: lime;

  @include breakpoints.medium {
    height: 50px;
    width: 50px;
  }
}

.nav__link-icon img {
  @extend %basicIcon;

  @include breakpoints.medium {
    border-radius: 5px;
  }
}

.nav__link-iconActive img {
  @extend %basicIcon;
  background-color: lime;

  @include breakpoints.medium {
    border-radius: 5px;
  }
}
